main{
  background-image: url("./images/iut45.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 100vh;
  
}
nav{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 39vmin;
    width: 39vmin;
    padding: 10vh;
}
.quart { 
    width:50%;
    height:50%;
    position:absolute;
    margin-top:middle;
    display:inline-block;
    border: 0.1em solid black;
    border-left:0.4em solid purple;
    border-radius:3.4px;
    border-top-left-radius:1000px;
    transform-origin: bottom right;
    padding: 0.5em;
    
  }
.quart > p{
  background-color: purple;
  opacity: 0.7;
  position: absolute;
  font-family: inherit;
  font-weight: 500;
  color: white;
  bottom: 0;
  right: 0;
}
#quart1{
  background-image: url("./images/developpement.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#quart1 > p{
  margin-right: 1vmin;
  margin-bottom: 4vmin;
}
#quart2 > p{
  margin-bottom: 4vmin;
  transform: rotate(270deg);
}
#quart2{
    transform:rotate(90deg);
    background-image: url("./images/systeme_reseaux.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
   
#quart3{
    transform:rotate(180deg);
    background-image: url("./images/apprentissage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#quart3 > p{
  margin-right: 2vmin;
  transform: rotate(180deg);
}
#quart4{
    transform:rotate(270deg);
    background-image: url("./images/direction.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#quart4 > p{
  margin-right: -1.3vmin;
  margin-bottom: 5vmin;
  transform: rotate(90deg);
}
#quart1:hover,#quart3:hover{
  transition: box-shadow 0.4s;
  box-shadow: 10px 10px 10px purple;
}
#quart2:hover,#quart4:hover{
  transition: box-shadow 0.4s;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
#quart3:hover,#quart2:hover{
  transition: margin 0.5s;
  margin-left: 3vmin;
  
}
#quart1:hover,#quart4:hover{
  transition: margin 0.5s;
  margin-left: -3vmin;
}
#quart1:hover,#quart2:hover{
  transition: margin 0.5s;
  margin-top: -3vmin;
}
#quart3:hover,#quart4:hover{
  transition: margin 0.5s;
  margin-top: 2vmin;
}
@media (max-width: 200px) {
    .quart   {
      position: relative;
      margin-left: 0;
      padding-left: 0;
    }
  }
span{
  display: flex;
}
main{
  flex-grow: 1;
}

*{
  font-family: sans-serif;
}

aside{
  margin-top: 2%;
  background-color: rgba(82, 17, 82, 0.575);
}

aside p{
  margin-left: 6%;
}

main{
  width: 95%;
}

@media (max-width: 975px) {
  span{
    flex-wrap: wrap;
  }
  main   {
    width: 300%
  }
}

main ,aside{
  border: rgba(79, 77, 77, 0.363) solid 0.5em;
  border-radius: 1em;
  margin: 1%;
}
aside, main {
  border-top: rgba(79, 77, 77, 0.623) solid 2em;
}