footer{
    background: linear-gradient(170deg,rgba(128, 128, 128, 0.754)40%, rgba(174, 123, 174, 0.638));
    margin-top: 3%;
    padding: 0.7em;
}
footer h4{
    margin-left: 1em;
}
footer p{
    margin-left: 2em;
}
#createur{
    font-weight: bolder;
}
footer p, footer h3, footer h4{
    font-family: sans-serif;
} 