*{
    font-family: sans-serif;
  }
aside li{
    width: 23%;
}
main{
    margin-left: 2%;
}
li{
    margin-left: 3%;
    flex-basis:25%;
}
li a{
    padding: 2%;
}
main{
    flex-grow: 1;
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
}
.premier_perso,.deuxieme_perso{
    flex-grow: 1;
    flex-basis:100%;
}
body{
    display: flex;
    flex-wrap: wrap;
}
footer{
    flex-basis: 100%;
}
aside{
    flex-grow: 1;
    flex-basis: 10%;
}

main > section,aside{
    border: rgba(79, 77, 77, 0.363) solid 0.5em;
    border-radius: 1em;
    margin: 1%;
}
aside, main > section{
    border-top: rgba(79, 77, 77, 0.623) solid 2em;
}
.section_2_aside li{
    border: black solid 1px;
}

h1{
    margin-left: 40%;
    height: 10%;
    font-size: 3em;
    color: rgb(128, 27, 128);
}

aside{
    margin-top: 0.5%;
    background-color: rgba(82, 17, 82, 0.575);
  }
  aside{
    margin-top: 2%;
    background-color: rgba(82, 17, 82, 0.575);
  }
  
  aside p{
    margin-left: 6%;
  }
