#loupeimg{
    height: 1em;
}
.reseau{
    height: 3em; 
    margin-left: 1em;
}
header a:link{
    text-decoration:none;
}

header{
    margin-left: 10%;
    padding-left: 15%;
}

header input{
    margin-left: 5em;
}

nav {
    width: 300px; height: 300px;
    border-radius: 50%;
    background: rgb(162, 87, 185);
  }

#quart1{
    width: 10em;
}