#loupeimg{
    width: 2vw;
    height: 5vh;
    margin-left: -4px;
}
button{
    width: 2vw;
    height: 5vh;
    min-width: 2em;
    cursor: pointer;
    background: purple;
    border-width: 0px;
    border-radius: 0% 20% 20% 0%;
}
.img_rep{
    height: auto;
    width: 10%;
    min-width: 5em;
}
.img_univ{
    height: auto;
    width: 15%;
    min-width: 5em;
}
.reseau{
    height: auto;
    width: 4%;
    min-width: 2em; 
    margin-left: 1vw;
}
header a:link{
    text-decoration:none;
}

header{
    margin-left: 5vw;
    padding-left: 15vw;
}

header input{
    height: 5vh;
    width: 20vw;
    margin-left: 3vw;
    margin-right: -0.1vw;
    min-width: 2em;
    border-radius: 5px 0% 0% 5px;
    
}
header input:focus::placeholder {
    color: transparent;
}

header form{
    display: inline-flex;
}
@media (max-width: 200px) {
    header form{
      display: flex;
    }
  }